<head>
  <style>
    html {
        scroll-behavior: smooth;
    }
    h1, h2, .h1, .h2 {
        font-family: 'DM Serif Text';
    }    
    h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
        font-family: 'Playfair Display';
    }
    .title {
        padding-bottom: 1.25rem;
    }
    .content-body p, .card-body .text-body, .card-body .text-body p {
        font-family: 'Playfair Display';
    }
    .blockquote p {
        margin-left: 2rem;
        font-family: 'Open Sans Condensed';
    }
    #footer li {
        font-family: 'Open Sans Condensed';
        list-style: none;
    }
    #footer ul {
        padding-inline-start: 0rem;
    }
    .nav-item {
        font-family: 'Open Sans Condensed';
        font-size: 1.25rem;
    }
    .badge {
        font-family: 'Open Sans Condensed';
    }
    .gist .markdown-body code, section .bg-light pre {
      color: #373737;
    }
  </style>
  
          <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
  
          <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyDM0TICdsfwD0Mj3j__oULR5EQg__hFTl0",
            authDomain: "craftycoder-e95a2.firebaseapp.com",
            databaseURL: "https://craftycoder-e95a2.firebaseio.com",
            projectId: "craftycoder-e95a2",
            storageBucket: "craftycoder-e95a2.appspot.com",
            messagingSenderId: "605879826235",
            appId: "1:605879826235:web:59773e7c77b01c6b6b691e",
            measurementId: "G-JS38X3LLBK"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
  
            <script>
        const addCard = (cardHolder, content) => {
            var div1 = document.createElement('div');
            div1.classList = "col-lg-6 col-12 mb-2 d-flex";
            var div2 = document.createElement('article');
            div2.classList = "card w-100";
            var div3 = document.createElement('div');
            div3.classList = "card-body";
            var div4 = document.createElement('div');
            div4.classList = "col-12 pl-0 mt-2 text-body";
            div1.appendChild(div2);
            div2.appendChild(div3);
            div3.appendChild(div4);
            div4.innerHTML = content;
            cardHolder.appendChild(div1);
        }
        var getJSON = function(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
            };
            xhr.send();
        };
    </script>
  </head>
<body class="bg-secondary">
    
<!-- Navigation --><nav class="overlay fragment navbar navbar-expand-lg py-2 scroll-spy bg-dark navbar-dark" id="nav" role="navigation" style='position: sticky; top: 0; z-index: 10000 !important;'>
  <div class="container">
      <a class="navbar-brand py-0" href="/#">
        <img src="/images/logo.svg" height="35" class="d-inline-block align-top" alt="craftycoder">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-between collapse show" id="navbarCollapse">
      <ul class="navbar-nav"><li class="nav-item ">
              <a
                  class="nav-link"
                
                  href="/"
                >
                Home
              </a>
              
            </li><li class="nav-item ">
              <a
                  class="nav-link"
                
                  href="/blog"
                >
                Blog
              </a>
              
            </li><li class="nav-item ">
              <a
                  class="nav-link"
                
                  href="/books"
                >
                Books
              </a>
              
            </li><li class="nav-item ">
              <a
                  class="nav-link"
                
                  href="/haiku"
                >
                Haiku
              </a>
              
            </li><li class="nav-item ">
              <a
                  class="nav-link"
                
                  href="/about"
                >
                About Me
              </a>
              
            </li>
      </ul>
        <div class="search-container position-relative">
          <form action="/search" class="my-0">
            <div class="input-group my-0">
              <input type="text" class="form-control py-1" id="search-query-nav" name="s" placeholder="Search...">
              <div class="input-group-append">
                <button class="btn btn-primary" title="Search"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
          <div class="search-results-container">
            <div class="col p-0">
              <div id="search-results-nav" class="col px-0 results"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</nav>

<div class="scroll-to-top bg-primary has-font-icon"
  title="Back to top"
  ><i class="fas fa-angle-up"></i><span class="sr-only">Back to top</span>
</div>

<script id="search-empty-template-nav" type="text/x-js-template">
  <p class="p-2">Please enter a word or phrase above</p>
</script>
<script id="search-no-results-template-nav" type="text/x-js-template">
  <p class="p-2">No matches found</p>
</script>
<script id="search-result-template-nav" type="text/x-js-template">
  <a href="${link}" id="summary-${key}" class="result ignore-color-change">
    <div class="p-2">
      <h5>${title}</h5>
      <p class="m-0 text-secondary">${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
  </a>
</script>

<script>
  (function() {
    var fragmentName = "nav";
    window.syna.api.register('search', 'search-' + fragmentName, {
      searchInput: `#search-query-${fragmentName}`,
      resultsContainer: `#search-results-${fragmentName}`,
      template: `#search-result-template-${fragmentName}`,
      noResults: `#search-no-results-template-${fragmentName}`,
      empty: `#search-empty-template-${fragmentName}`,
    });

    var resultsContainer = document.querySelector(`#${fragmentName} .search-results-container`)
    document.querySelector(`#search-query-${fragmentName}`).addEventListener('input', function(e) {
      if (e.target.value.length) {
        resultsContainer.classList.add('show');
      } else {
        resultsContainer.classList.remove('show');
      }
    });

    document.addEventListener('click', function(e) {
      if (!document.querySelector(`#${fragmentName} .search-container`).contains(e.target)) {
        document.querySelector(`#search-query-${fragmentName}`).value = '';
        resultsContainer.classList.remove('show');
      }
    });
  })();
</script>
<style>
  :root {
    --header-height: 56px;
  }
</style>