
<!-- Footer -->
<section id="footer" class="fragment ">
    <div class="container-fluid bg-light ">
    <div class="container py-5 ">

  <div class="row">
    <div class="col-md m-2 text-body">
        <h4></h4>
        <a href="#">
          <img src="/images/logo.svg" class="img-fluid w-50" alt="craftycoder">
        </a>
        <div class="row justify-content-left ml-0">
            <span class="fa-stack fa-2x mt-3 mr-1" title="twitter">
              <a href="https://twitter.com/craftyc0der" class="ignore-color-change">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-fw text-light"></i>
                <span class="sr-only">twitter</span>
              </a>
            </span>
            <span class="fa-stack fa-2x mt-3 mr-1" title="linkedin">
              <a href="https://www.linkedin.com/in/joshua-oster-morris/" class="ignore-color-change">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin-in fa-stack-1x fa-fw text-light"></i>
                <span class="sr-only">linkedin</span>
              </a>
            </span>
            <span class="fa-stack fa-2x mt-3 mr-1" title="github">
              <a href="https://github.com/craftyc0der" class="ignore-color-change">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-fw text-light"></i>
                <span class="sr-only">github</span>
              </a>
            </span>
        </div>
    </div>
    <div class="col-md m-2 text-body">
    </div>
    <div class="col-md m-2 text-body">
        <div><h4 id="axioms-for-life">Axioms for life:</h4>
<ul>
<li>Behave as though you believe in God</li>
<li>Control is an illusion</li>
<li>Worry less, do more</li>
<li>Do hard things, it feels good</li>
<li>Make something beautiful today</li>
<li>Tell her you love her</li>
<li>Embrace responsibility</li>
<li>Do not be afraid to speak</li>
<li>The impartial spectator is watching, behave accordingly</li>
</ul>
</div>
    </div>
  </div>
    </div>
    </div>
</section>

<!-- Copyright -->
<footer class="overlay fragment container-fluid bg-dark" id="copyright">
  <div class="container">
    <div class="row py-3">
      <div class="col-md">
        <div class="row mx-0 my-2 justify-content-center text-center text-lg-none text-white">
          <div class="row mx-0 mr-lg-auto justify-content-center">
              <div class="col-auto px-1 copyright-legal">© Copyright&nbsp;2020</div>
              <div class="col-auto px-0 copyright-by"> by  Joshua Oster-Morris</div>
          </div>
        </div>
      </div>
        <div class="col-md">
          <div class="row mx-0 my-2 justify-content-center">
            <ul class="nav ml-lg-auto">
                <li class="nav-item">
                  <a class="nav-link py-0" href="/about"
                  >About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-0" href="https://dc-control.com"
                  >DC Control Systems, LLC</a>
                </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</footer>
<div id="react"></div>

    <!-- Theme Code -->
      <script async defer src="/scripts/syna-main.min.065c23d84ca56793a8ee2be9d091a50028dc3505b5e4962af6444d641ed77ff5.js"></script>
      <script async defer src="/scripts/syna-search.min.9379ceb849481c23f4fe69dfef0d46aac46a4d03e042d9cf8cb8e379e5454df5.js"></script>
      <script async defer src="/scripts/syna-collapse.min.e53f62e26af14c1839865c3eb2f19520509399d957f5520e410b1f11ffee93c1.js"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">
  </body>
</html>
